__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.log
*.key
!*.pub
.pytest_cache/
testdata/native/journal/**/*.tar.gz
testdata/native/journal/**/*.deb
testdata/native/journal/**/*.rpm
testdata/native/journal-v2/**/*.tar.gz
testdata/native/journal-v2/**/*.deb
testdata/native/journal-v2/**/*.rpm
