.nav-icons {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 10000;
}

.nav-icons a {
  font-size: 28px;
  text-decoration: none;
  color: black;
  padding: 4px;
  display: none;
}

.nav-icons a.current {
  display: block;
}

.nav-icons:hover a {
  display: block;
}
